* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: rgba(255, 255, 255, 1);
  --grey-text-color: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Roboto';
  color: var(--main-text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
}

body {
  transition: background 0.8s ease;
  max-height: 100vh;
}

body.weather-loaded.sunny {
  background: url('/images/bg/background-sunny-mobile.jpg') center/cover
    no-repeat fixed;
}
body.weather-loaded.clear-night {
  background: url('/images/bg/background-clear-night-mobile.jpg') center/cover
    no-repeat fixed;
}
body.weather-loaded.cloudy {
  background: url('/images/bg/background-cloudy-mobile.jpg') center/cover
    no-repeat fixed;
}
body.weather-loaded.rain {
  background: url('/images/bg/background-rain-mobile.jpg') center/cover
    no-repeat fixed;
}
body.weather-loaded.snow {
  background: url('/images/bg/background-snow-mobile.jpg') center/cover
    no-repeat fixed;
}
body.weather-loaded.thunderstorm {
  background: url('/images/bg/background-thunderstorm-mobile.jpg') center/cover
    no-repeat fixed;
}
body.weather-loaded.fog {
  background: url('/images/bg/background-fog-mobile.jpg') center/cover no-repeat
    fixed;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 22px;
}

.header__logo {
  width: 39px;
}

.header__logo-image {
  width: 100%;
}

.header__input {
  position: relative;
}

.input__field {
  width: 123px;
  padding: 2px 11px 4px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-text-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: var(--grey-text-color);
  transition: padding-left 0.3s ease, border-bottom 0.3s ease, color 0.3s ease;
}

.input__field::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: var(--grey-text-color);
  transition: color 0.3s ease;
}

.input__field:focus {
  color: var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  outline: none;
  background: transparent;
  padding-left: 2px;
}

.input__field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--main-text-color);
  transition: background-color 5000s ease-in-out 0s, color 0.3s ease;
}

.input__field:-webkit-autofill:focus {
  border-bottom: 1px solid var(--main-text-color);
}

.input__field:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  -moz-text-fill-color: var(--main-text-color);
}

.input__button {
  position: absolute;
  top: 30%;
  right: 2px;
  transform: translateY(-50%);
  width: 12px;
  height: 11px;
}

.autocomplete-list {
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100%;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  z-index: 1000;
  border-radius: 8px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0)
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.autocomplete-list li {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 5px 10px;
  border-bottom: 1px solid var(--grey-text-color);
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.weather {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.weather__main {
  padding: 83px 72px 30px 22px;
}

.weather__main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.main-info__temperature {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -4px;
}

.main-info__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 8px;
}

.main-info__weather-icon img {
  display: block;
  width: 54px;
  height: auto;
  max-width: none;
}

.info__city {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  white-space: nowrap;
}

.info__date {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.weather__details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 57px 45px 126px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-top: 5px solid rgba(255, 255, 255, 0.14);
}

.weather__details::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 90px);
  bottom: 44px;
  height: 1px;
  background: var(--main-text-color);
}

.details__title {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

.details__description {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 38px 0 30px;
}

.details__summary {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.summary__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item__key {
  color: var(--grey-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.item__value-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

.item__value {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  white-space: nowrap;
}

.item__icon img {
  display: block;
  width: 12px;
  height: auto;
  max-width: none;
}
